.middleContainer {
    display: flex; /* or inline-flex */
    float: left;
    flex-direction: column;
    height: 295px;
    width: 1130px; 
    overflow: auto;
    border-style: solid;
    border-color: black;
    

}
p{
    font-family: 'Roboto', sans-serif;   
}

p.demo{
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
}

h1{
    font-family: 'Roboto', sans-serif;
}
.picTimerContainer{
    height: 700px;
    width: 380px;
    display: flex;
    float: left;
    flex-direction: column;
    border-style: solid;
    border-color: black;
}



.stepsContainer{
    display: flex; /* or inline-flex */
    float: left;
    flex-direction: column;
    height: 295px;
    width: 1130px; 
    overflow: auto;
    border-style: solid;
    border-color: black;
}

.step{
    background-color: lightgray;
    display: flex;
    height: 50px;
    width: 1130px;
    float: left;
    margin-top: 2px;
    margin-bottom:  2px;
    overflow: visible;
    padding-left: 10px;
    word-wrap: break-word;
    justify-content: space-between;
}

.stepDescription{
    word-wrap: break-word;

}

.stepTime{
    margin-right: 50px;
    float: right;
}

div.timer{
    height: 200px;
    width: 380px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.completeButtonContainer{
    height: 100px;
    width: 380px;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.completeButton{
    width: 220px;
    height 50px;
    background-color: forestgreen;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.foodPic{
    height: 400px;
    width: 380px;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    max-width: 100%;
}

div.topbar{
    height: 100px;
    width: 1130px;
    float:left;
    word-wrap: break-word;
    border-style: solid;
    border-color: black;
}

div.cartImage{
    height: 100px;
    width: 100px;
    float:left;
}

div.title{
    height: 100px;
    width: 200px;
    float:left;
    margin-left: 320px
}

div.info{
    height: 150px;
    width: 900px;
    float: left;
    border-style: solid;
    border-color: black;
    word-wrap: break-word;
}
div.nextButton{
    height: 150px;
    width: 200px;
    float: left;
    border-style: solid;
    border-color: black;
    word-wrap: break-word;
}

div.deleteButton{
    margin-left: 10px;
}
div.ingredient{
    background-color: lightgray;
    display: flex;
    height: 50px;
    width: 1130px;
    float: left;
    margin-top: 2px;
    margin-bottom:  2px;
    
    word-wrap: break-word;
    justify-content: space-around;

}
div.ingredientName{
    
}

div.servingSize{
    
}

div.calAmount{
    
}


div.goats{
    height: 140px;
    width: 1105px;
    float: left;
    border-style: solid;
    border-color: black;
    word-wrap: break-word;
    vertical-align: top;
    overflow:hidden;
}

div.allBesidesPic{
    height: 400px;
    width: 1115px;
    float:left;

}
div.middleBar{
    height: 150px;
    width: 1115px;
    float:right;

}