
<!DOCTYPE html>
<html>
<head>

<LINK REL=StyleSheet HREF="C:\Users\Tyler\Desktop\School Work\CS350\RecipeBuddy\cookPage.css" TYPE="text/css" MEDIA=screen>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    
</head>
<body>


    
    <div class="picTimerContainer">
        <div class = "foodPic">
            <img src="img/cereal.jpg">
        </div>
        <div class="timer">
            <p class= "demo" id="demo"></p>
        </div>
        <div class = "completeButtonContainer">
            <div class = "completeButton">
                <h1><font color="white">Complete</font></h1>
            </div>
        </div>
    </div>
    
    <div class = "allBesidesPic">
        <div class = "topbar">
            <div class = "cartImage">
                <img src="img/goodCart.png" width = 100px height = 100px>
            </div>

            <div class = "title">
                <img src="img/gOatmealLogo.png" width = 250px height = 100px>
            </div>

            <div style = "float:right">
                <img src="img/goodTrashCan.png" width = 100px height = 100px>
            </div>

        </div>
        <div class = "middleContainer">
            <div style="margin-left: auto; margin-right: auto">
                <h1> Ingredients</h1>
            </div>
            
            <div class = "ingredient">
                <div class = "ingredientName">
                    <p>Water</p>
                </div>
                
                <div class = "servingSize">
                    <p>2 Cups</p>
                </div>
                
                <div class - "calAmount">
                    <p>0 Cal</p>
                </div>
            </div>
            
            
        </div>
        <div class = "stepsContainer">
            <div style="margin-left: auto; margin-right: auto">
                <h1> Cooking Steps</h1>
            </div>
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
            
            <div class="step">
                <div class = "deleteButton">
                    <img src="img/delete.png">
                </div>
                <div class= "stepDescription">
                    <p>Example Description</p>
                </div>
                
                <div class= "stepTime">
                    <p>7 Min</p>
                </div>
            </div>
        </div>

    </div>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/cook.js"></script>
</body>
</html>