<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
	<link href="https://fonts.goggleapis.com/css#family=Roboto+Condensed#display=swap" rel="stylesheet">	
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="public/stylesheets/Edit.css">
    </head>
	<body>
		<div class="edit">
			<div class="edit-left">
				<div class="recipe-top-pic">
					<div class="recipe-image">
						<img src="img/chicken.jpg">
					</div>
				</div>
				<div class="recipe-divide">
				</div>
				<div class="recipe-center-descrip">
					<div class="recipe-title">
						Total Cook Time:
					</div>
					<div class="recipe-description">
						15 Minutes (test)
					</div>
					<div class="recipe-title">
						Total Calories:
					</div>
					<div class="recipe-description">
						461430 Calories (test)
					</div>
				</div>
				<div class="recipe-divide">
				</div>
				<div class="recipe-center-tags">
					<div class="recipe-description-tags">
						#tag (test)
					</div>
				</div>
			</div>

		<div class="edit-right">
			<div class="recipe-tools">
				<a class = "cook-shop" href = "http://fortrash.com/gOatmeal/"><img src = "img/shopping-cart.png"></a>
				<div class ="logo">
					<a href = "http://fortrash.com/gOatmeal/"><img src ="img/gOatmealLogo.png"></a>
				</div>
				<a class = "cook-recipe" href = "http://fortrash.com/gOatmeal/"><img src = "img/cook.png"></a>
				<a class = "edit-recipe" href = "http://fortrash.com/gOatmeal/"><img src = "img/edit.png"></a>
				<a class = "delete-recipe" href = "http://fortrash.com/gOatmeal/"><img src = "img/trash.png"></a>
			</div>
			<div class="recipe-ing-list">
				<div class="recipe-title">
					Ingredients
				</div>
				<div class="recipe-ing">
					<input type="text" placeholder="Ingredient"></input>
					<input type="text" placeholder="Quantity"></input>
					<input type="text" placeholder="Calories"></input>
				</div>
				<div class="add-ing">
					<input type="button" style="background-color:green;color:black;" value="Add Ingredient">
					</input>
				</div>
			</div>
			<div class="cook-step">
				<div class="recipe-title">
					Cooking Steps
				</div>
				<div class="recipe-steps">
					<input type="text" size="100" placeholder="Description"></input>
					<input type="text" placeholder="Time"></input>
				</div>
				<div class="add-step">
					<input type="button" style="background-color:green;color:black;" value="Add New Step">
					</input>
				</div>
			</div>
		</div>
	</div>
    </body>
      
</html>

