<!DOCTYPE html PUBLIC "-//W3C//DTD XTHML 1.1/EN" "http://www.w3.org/TR/xhtm11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<div id="wrapper">
	<head>
		<link href="https://fonts.googleapis.com/css#family=Roboto+Condensed#display=swap" rel="stylesheet">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="public/stylesheets/gOatmealShop.css">
		<div class="topnav">
			<div class="logo">
				<a href = "http://fortrash.com/gOatmeal/"><img src = "img/gOatmealLogo.png"></a>
			</div>
		</div>
	</head>
	<body>
		<div id="title">
			Shopping Cart
		</div>
		<div id="cart">
			<div class="item">
				<div class="buttons">
					<span class="delete-button"></span>	
				</div>
				<img src="img/delete.png" alt="Delete Ingredient">
				<input type="text" class="ingredient" placeholder="Ingredient"></input>
				<input type="text" class="quantity" placeholder="Quantity"></input>
				<input type="text" class="unit" placeholder="Units"></input>
			</div>
			<div class="add">
				<img src="img/add.png" alt="Add Ingredient">
			</div>
		</div>
	</div>
	</body>
</html>
