<!DOCTYPE html PUBLIC "-//W3C//DTD XTHML 1.1/EN" "http://www.w3.org/TR/xhtm11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<div id="wrapper">
	<head>
		<link href="https://fonts.googleapis.com/css#family=Roboto+Condensed#display=swap" rel="stylesheet">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="public/stylesheets/gOatmealShop.css">
		<div class="topnav">
			<div class="logo">
				<a href = "http://fortrash.com/gOatmeal/"><img src = "img/gOatmealLogo.png"></a>
			</div>
		</div>
	</head>
	<body>
		<div id="title">
			Shopping Cart
		</div>
		<div id="cart">
			<div class="item">
				<div class="buttons">
					<span class="delete-button"></span>	
				<div class="name">
					<span>Red bell peppers</span>
				</div>
				<div class="quantity">
					<span>5</span>
				</div>
				<div class="unit">
					<span>units</span>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
