<h1>Test Page for hbs + MongoDB</h1>
<section class "add">
    <h3>add a recipe</h3>
    <form action="/insert" method="post">
        <div class="insert">
            <label for="recipe">Name</label>
            <input type="text" id="recipe" name="recipe">
        </div>
    </form>
</section>