.* {
  font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: 0;
}

.topnav {
  display: flex;
  overflow: hidden;
  background-color: #fff;
  flex-direction: row;
}

.cartlogo {
  margin-left: auto;
  float: right;
  padding: 10px;
  max-width: 10%;
}

.add-button {
	flex: 2;
	padding-top: 50px;
}

.subheader {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 200px;
	align-items: center;
}

.search {
	height: 200px;
	font-size: 14pt;
	flex: 1;
}



.edit {
	display: flex;
	flex-direction: row;
	margin-left: 0%;
	margin-right: 0%;
    height: 800px;
	justify-content: space-between;
}



.edit-left {
  display: flex;
  flex-direction: column;  
  flex: 1 1 0px;
  margin-left: 2%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.recipe-image-add {
    justify-content: center;
    align-items: center;
    width: 300px;
}

.recipe-top-pic {
  display: flex;
  background: rgb(245,250,255);
  flex: 50 1 0px;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.recipe-divide {
	display: flex;
	background: white;
	flex: 5 1 0px;
	flex-direction: column;
}

.recipe-center-descrip {
  display: flex;
  flex-direction: column;
  flex: 20 1 0px;
  height: 300px;
  background: rgb(230, 230, 230);
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: center;
  align-items: center;
}

.recipe-center-tags {
  display: flex;
  flex-direction: column;
  flex: 20 1 0px;
  background: rgb(230, 230, 230);
  font-family: 'Roboto Condensed', sans-serif;
}



.edit-right {
  display: flex;
  flex-direction: column;
  flex: 2 1 0px;
  padding-top: 2%;
}

.recipe-name {
	display: flex;
    flex-direction: column;
	justify-content: center;
}	

.recipe-tools {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.recipe-ing-list {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-top: 50px;
    overflow: auto;
}

.recipe-ing {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 2%;
	padding-bottom: 2%;
	background: rgb( 230,230,230);
}

.add-ing {
	display: flex;
	justify-content: right;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 50px;

}

.cook-step {
	display: flex;
	flex-direction: column;
	flex: 1;
    overflow: auto;
}

.recipe-steps {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 2%;
	padding-bottom: 2%;
	background: rgb( 230,230,230);
}

.add-step {
	display: flex;
	justify-content: right;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 50px;
}
.add-Recipe {
	display: flex;
	justify-content: right;
	padding-right: 2%;
	padding-top: 2%;
	padding-bottom: 2%;
	height: 50px;
}



.recipe-title {
	text-align: center;
	font-size: 150%;
	padding-top: 1%;
}

.recipe-description {
	flex: 3;
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
}

.recipe-description-tags {
	flex: 3;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
	text-align: center;
}


.cook-shop {
	padding-left: 5%;
	padding-right: 5%;
}

.cook-recipe {
	padding-left: 5%;
}

.edit-recipe {
}

.delete-recipe {
	padding-right: 5%;
}